{% extends 'starter-page.html' %}

{% load static %}

{% block content %}

<h1 class="text-center">All Appointments</h1>
<table class="table table-dark ">
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date and time</th>
    <th>Department</th>
    <th>Doctor</th>
    <th>Message</th>
    <th>Action</th>
</tr>
{% for appointment in allappointments %}

<tr>

<td>{{appointment.name}}</td>
<td>{{appointment.email}}</td>
<td>{{appointment.phone}}</td>
<td>{{appointment.datetime}}</td>
<td>{{appointment.department}}</td>
<td>{{appointment.doctor}}</td>
<td>{{appointment.message}}</td>
<td>
    <a href="/edit/{{appointment.id}}" class="btn btn-warning">Edit</a>
    <a href="/delete/{{appointment.id}}" class="btn btn-danger">Delete</a>
    <a href="{% url 'pay' %}" class="btn btn-success">Pay by mpesa</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock%}